* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden;
  overflow-y: hidden; */
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
}
.slick-slide.slick-current {
  width: 404px !important;
  height: 582px;
  margin-right: 20px;
}

.slick-slide {
  width: 372px !important;
  height: 486px;
  margin-right: 20px;
}
